.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
}

/* shared-class  */
.center-text {
    text-align: center;
}

.primary-color {
    color: rgb(105, 105, 105);
}

.secondary-color {
    color: rgb(88, 88, 88);
}

.font-32-extra-bold {
    font-size: 32px;
    font-weight: 800;
}

.btn-simple {
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

/* Banner-section-css */
.banner-container {
    max-width: 1440px;
    height: 652px;
    margin: 0%;
    margin: auto;
    background-image: url('/assets/Hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-details {
    width: 998px;
    height: 581px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-details img {
    width: 240px;
    height: 240px;
    margin-bottom: 24px;
}

.banner-details h3 {
    font-size: 48px;
    font-weight: 700;
}

.banner-details p {
    font-size: 20px;
    margin-top: 24px;
}

.banner-details a {
    padding: 40px;
}

.btn-primary {
    padding: 15px;
    background-color: black;
    border-radius: 5px;
}

/* < !-- why web development? section-css --> */
.development-container {
    margin: 0%;
    margin: auto;
    width: 1140px;
    height: 1393px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.mother-container {
    width: 946px;
    height: 1233px;
}

.mother-container h2 {
    margin-bottom: 10px;
}

.webpart-full {
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
    background-image: linear-gradient(to right, white 50%, rgb(248, 248, 248));
}

.onepart-details {
    width: 470px;

}

.onepart-details h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

#header {
    margin-bottom: 70px;
}

.video-section {
    width: 1140px;
    height: 775px;
    margin: 0%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-container {
    border: 1px solid black;
    width: 1140px;
    height: 616px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}