.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0%;
    padding: 0%;
}

/* shared-class  */
.center-text {
    text-align: center;
}

.primary-color {
    color: rgb(105, 105, 105);
}

.secondary-color {
    color: rgb(88, 88, 88);
}

.font-32-extra-bold {
    font-size: 32px;
    font-weight: 800;
}

.btn-simple {
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

/* Banner-section-css */
.banner-container {
    max-width: 1440px;
    height: 652px;
    margin: 0%;
    margin: auto;
    background-image: url("../Assignment-one/assets/hero.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-details {
    width: 998px;
    height: 581px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-details img {
    width: 240px;
    height: 240px;
    margin-bottom: 24px;
}

.banner-details h3 {
    font-size: 48px;
    font-weight: 700;
}

.banner-details p {
    font-size: 20px;
    margin-top: 24px;
}

.banner-details a {
    padding: 40px;
}

.btn-primary {
    padding: 15px;
    background-color: black;
    border-radius: 5px;
}

/* < !-- why web development? section-css --> */
.development-container {
    margin: 0%;
    margin: auto;
    width: 1140px;
    height: 1393px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.mother-container {
    width: 946px;
    height: 1233px;
}

.mother-container h2 {
    margin-bottom: 10px;
}

.webpart-full {
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    margin-bottom: 62px;
    background-image: linear-gradient(to right, white 50%, rgb(248, 248, 248));
}

.onepart-details {
    width: 470px;

}

.onepart-details h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

#header {
    margin-bottom: 70px;
}

/* video section css style */

.video-section {
    width: 1140px;
    height: 775px;
    margin: 0%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.video-container {
    border: 1px solid rgb(105, 105, 105);
    width: 1140px;
    height: 616px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

/* current target css style */

.cuurent-target {
    /* border: 1px solid black; */
    width: 1140px;
    height: 460px;
    margin: 0 auto;
}

.traget-details {
    width: 1140px;
    height: 300px;
    display: flex;
    gap: 10px;

}

.target-cart {
    /* width: 364px; */
    /* height: 300px; */
    border: 1px solid black;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
}

.learn-more {
    color: black;
    font-weight: 700;
}

#react-img {
    width: 56px;
    height: 56px;
}

#cream-color {
    background-color: #eeebdd;
}

#color-akashi {
    background-color: #dfe6f5;
}

#purple {
    background-color: rgb(241, 208, 241);
}

/* support-container-css-style */
.support-container {
    width: 1140px;
    height: 313px;
    margin: 0% auto;
    background-image: url('/assets/handshake.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-lastpart {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.input-field {
    width: 348px;
    height: 20px;
}

.submit-btn {
    font-weight: 700;
    /* margin-bottom: 15px; */
}

footer {
    width: 1140px;
    height: 100px;
    margin: 0% auto;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}

.icons-position {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.icons-position li {
    list-style-type: none;
}